.heart:hover,
.heart:focus {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg)
    brightness(104%) contrast(97%);
}

a {
  color: black;
  text-decoration: underline;
  text-decoration-color: gray;
  text-underline-offset: 4px;
}

a:hover {
  text-decoration-color: #4ade80;
  text-decoration-thickness: 2px;
}
