{% import 'partical/nav.html' as nav %}

{% macro main() %}
<div class="col" style="margin: 24px 0;">
    <div class="row align-items-end">
        <div class="col-auto" style="margin: auto 0;">
            <a href="{{ get_url(path='@/_index.md') }}">
                <img src="{{ get_url(path='images/logo.png') }}" width="40" height="46" class="">
            </a>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <h2 class="mb-0 tracking-wide">{{ config.title }}</h2>
                </div>
            </div>
            <div class="row">
                <nav>
                    {{ nav::main() }}
                </nav>
            </div>
        </div>
        <div class="col align-self-end">
            <div class="d-flex justify-content-end space-x">
                {% if config.extra.willow.social %}
                {% for name, identi in config.extra.willow.social %}
                <a href="{{ get_url(path='atom.xml', trailing_slash=false) }}" target="_blank">
                    {% set path = 'images/social/' ~ name ~ '.svg' %}
                    <img src="{{ get_url(path=path) }}" alt={{ name }} width="18" height="18">
                </a>
                {% endfor %}
                {% endif %}
                <a href="{{ get_url(path='atom.xml', trailing_slash=false) }}" target="_blank">
                    <img src="{{ get_url(path='images/social/rss.svg') }}" alt="RSS" width="18" height="18">
                </a>
            </div>
        </div>
    </div>
</div>
{% endmacro main %}
