{% extends "base.html" %}
{% import 'partical/social.html' as social %}

{% block content %}
<div class="card card-lg">
    <div class="card-body markdown">
        <!-- intro -->
        <section class="row">
            <div class="markdown tracking-wide">
                {% set section = get_section(path="_index.md") %}
                {{ section.content | safe }}
            </div>
        </section>
        <!-- articles -->
        <section class="row gap-2" style="margin-top: 48px;">
            <h2>Recent Posts</h2>
            {% set posts = get_section(path="articles/_index.md") %}
            {% for page in posts.pages %}
            {% if not page.draft %}
            {% if config.extra.willow.show_article_num %}
            {% set article_num = config.extra.willow.show_article_num %}
            {% else %}
            {% set article_num = 5 %}
            {% endif %}
            {% if loop.index <= article_num %}
            <div class="d-flex space-x">
                <span class="gray" style="color: gray;">{{ page.date | date(format="%Y %b %d" ) }}</span>
                <a class="post-title" href="{{ page.permalink | safe }}">{{ page.title }}</a>
            </div>
                {% endif %}
                {% endif %}
                {% endfor %}
        </section>
    </div>
</div>
{% endblock content %}
