{% extends "base.html" %}

{% block title %}
{{ super() }} | {{ section.title }}
{% endblock title %}

{% block content %}
{% set posts = get_section(path='articles/_index.md') %}
<div class="card card-lg">
    <div class="card-body markdown">
        <div class="">
            <h2>All Posts</h2>
            {% for page in posts.pages %}
            <div class="d-flex space-x">
                <span class="gray" style="color: gray;">{{ page.date | date(format="%Y %b %d" ) }}</span>
                <a class="post-title" href="{{ page.permalink | safe }}">{{ page.title }}</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
